{# default Sliding pagination control implementation #}

<script>
    function setPageValue() {
        
    }
</script>

{% if pageCount > 1 %}
                <form>
                    {% if query.direction is defined %}
                        <input type="hidden" name="{{ sortDirectionParameterName }}" value="{{ query.direction }}">
                    {% endif %}
                    {% if query.sort is defined %}
                        <input type="hidden" name="{{ sortFieldParameterName }}" value="{{ query.sort }}">
                    {% endif %}
                    {% if query.limit is defined %}
                        <input type="hidden" name="{{ sortFieldParameterName }}" value="{{ query.limit }}">
                    {% endif %}
                    <input type="hidden" name="{{ pageParameterName }}" value="{{ first }}">
    <div class="pagination">
        {% if first is defined and current != first %}
                    <input type="submit" value="<<"/>
        {% endif %}

        {% if previous is defined %}
                    <input type="submit" value="<"/>
        {% endif %}

        {% for page in pagesInRange %}
                    <input type="submit" value="{{ page }}"/>
        {% endfor %}

        {% if next is defined %}
                    <input type="submit" value=">"/>
        {% endif %}

        {% if last is defined and current != last %}
                    <input type="submit" value=">>"/>
        {% endif %}
    </div>
                </form>
{% endif %}
